StrangeRituals/Temp/
StrangeRituals/Library/
StrangeRituals/Assembly-CSharp-Editor.csproj
StrangeRituals/Assembly-CSharp-firstpass.csproj
StrangeRituals/Assembly-CSharp.csproj
StrangeRituals/StrangeRituals.sln
